{% extends 'base.html.twig' %}

{% block title %}Validation de commande{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('asset/css/cart-validation.css')}}">
{% endblock %}

{% block body %}
<section id="validationForm">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1 class="text-center">Récapitulatif de votre commande</h1>

            </div>
        </div>
    </div>
</section>

{% endblock %}