{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/login.css')}}">
{% endblock %}

{% block body %}
<section id="login">
    <div class="container-fluid login-page-container">
        <div class="row">
            <div class="login-bkg">
                <img src="{{ asset('image/11.jpg') }}" alt="table with food">
            </div>
            <div class="login-form">
                {% include 'security/login_content.html.twig' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}